
TTB/Library/
TTB/Temp/FSTimeGet-b7e1b5818a42f06478d8eef06c036f5b
TTB/Temp/UnityLockfile
TTB/Temp/workerlic
TTB/Temp/Burst/
If terraria is turn bassed/Library/
If terraria is turn bassed/Logs/AssetImportWorker0.log
If terraria is turn bassed/Logs/AssetImportWorker0-prev.log
If terraria is turn bassed/Logs/
TTB/
